<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sfu_hive_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sfu_hive_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SFUHive">
        <activity
            android:name=".storage.StoredFileDisplayActivity"
            android:exported="false"
            android:label="@string/title_activity_stored_file_display"
            android:theme="@style/Theme.SFUHive" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavActivity" />
        <activity android:name=".Wellness.EnergyMgmtActivity" />
        <activity android:name=".Wellness.GoalsActivity" />
        <activity android:name=".Assignments.ListAssignmentsActivity" />
        <activity android:name=".Assignments.DisplayRatedAssignmentActivity" />
        <activity android:name=".Calendar.DayViewActivity" />
        <activity android:name=".Calendar.TaskScanActivity" />
        <activity android:name=".Progress.Badges.BadgeActivity" />
        <activity android:name=".Progress.Streaks.StreakActivity" />
        <activity android:name=".Progress.Rewards.RewardActivity" />
        <meta-data
            android:name="keyValue"
            android:value = "hR8hZ4yFU9VZF9GRNM4hXk6WrzrZQZ7n9mucHZfhQfVBQxXDK9LwnmCVhyXX62aT"/>
    </application>

</manifest>